@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'circular-std-medium-500';
  src: local('circular-std-medium-500'), url(./fonts/circular-std-medium-500.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
body{
  font-family: "circular-std-medium-500";

}
.error{
  display: none;
}

/* input:invalid + .error{
  display: inline-block;
} */
input:focus:invalid + .error {
  display: block; 
}

.circle::after{
  content:"";
  width:100%;
  height: 100%;
  display: block;
  background-color:  #F45C45;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.15s;


}
.input-circle:checked + .circle::after{
transform: scale(1);




}



/* Hero Slider */
/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  background: #09a960;
  } */
  
  * {
  box-sizing: border-box;
  }
  
  
  
  .slider-container {
  position: relative;
  width: 100vw;
  max-width: 1440px;
  height: 495px;
  margin: 0 auto;
  
  
  }
  
  .slide {

  background:#E74932;
  position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  }
  
  /* position of indicator container */
  .Indicators {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  }
  
  .Indicator-container {
  padding: 20px;
  cursor: pointer;
  }
  
  .Indicator {
  width: 8px;
  height: 8px;
  background: rgba(246, 123, 107,.30);
  border-radius: 50%;
  position: relative;
  }
  
  .Indicator-highlight {
  top: -2px;
  left: -2px;
  background: #F67B6B;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  position: absolute;
  }
  





